.taminot{
    min-height: 100vh;
    background-color: white;
    border-radius: 12px;
    padding: 20px
}
.taminot_title{
    font-size: 25px;
    font-weight: 700;
}
.taminot_subheader{
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.taminot_link{
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 7px;
    transition: linear all .2s;
    border: #7367f0 2px solid;
    color: #7367f0;
    background-color: rgba(255, 255, 255, 0);
}
.taminot_link:hover{
    background-color: #7367f0;
    color: white;
    transform: scale(1.05);
}