.pdf_header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}
.pdf_header button{
    padding: 10px 15px;
    background-color: blue;
    border: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 7px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    transition: linear all .2s;
}
.pdf_header button:hover{
    transform: scale(1.1);
}
.pdf_header button svg{
    font-size: 1.4rem;
    margin-left: 10px;
}
.pdf_container{
    /* position: fixed;
    z-index: 1999;
    top: 0;
    left: 0; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    margin-top: 30px;
    padding-bottom: 20px;
}
.print_link{
    border-radius: 12px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #7828c8;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
/* B1 FORM */
.b1_img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.b1_img img{
    justify-self: flex-end;
}
.b1_subtitle{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
.b1_title{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}
.b1_content{
    line-height: 1.2rem;
    font-size: 0.9rem;
    margin-top: 50px;
    font-family: sans-serif;
    font-style: italic;
    padding: 0px 20px;
    word-spacing: 12px;
}
.b1_content p{
    margin-top: 20px;
}
.b1_endData{
    display: flex;
    flex-direction: column;
}
.b1_lines{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    height: 1px;
}
.b1_lines span{
    display: inline-block;
    background-color: black;
    height: 100%;
}
.b1_lines span:nth-child(1){
    width: 60%;
}
.b1_lines span:nth-child(2){
    margin-left: 100px;
    width: 10%;
}
.b1_end{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.b1_end p{
    display: flex;
    flex-direction: row;
}




/* MEDIA PRINT */
@media print {
    .pdf_container{
        position: fixed;
        z-index: 1999;
        top: 0;
        margin-top: 0;
        left: 0;
        min-height: 110%;
    }
    .header-left-top, .a-right-bottom, .time-right-bottom {
        display: none;
    }
    @page { margin: 0; }
    body { margin: 1.0cm; }
}