@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.main{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
/* SideBar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    padding: 10px;
<<<<<<< HEAD
    background-color: var(--light);
=======
    background-color: white;
>>>>>>> a1f235f9b9ffd2c9757e47b40c8e1f4254f75a6c
}
.nav-list{
    margin-top: 50px;
    width: 100%;
}
.nav-item{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    border-radius: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(91, 91, 91);
    transition: linear all .2s;
    padding-left: 15px;
}
.nav-item_active{
    background: linear-gradient(118deg,#7367f0,rgba(115,103,240,.7));
    color: white;
}
.nav-item_icon{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 10px; 
    transition: linear all .2s;
}
.nav-item span{
    transition: linear all .2s;
}
.nav-item:hover .nav-item_icon{
    margin-left: 10px;
}



main{
    position: relative;
    width: 80%;
    margin-left: 20%;
<<<<<<< HEAD
    background-color: #ededed;
=======
    min-height: 100vh;
>>>>>>> a1f235f9b9ffd2c9757e47b40c8e1f4254f75a6c
    padding: 20px;
}

/* Main Content */
.content{
    margin-top: 100px;
    width: 100%;
<<<<<<< HEAD
    min-height: 100%;
=======
>>>>>>> a1f235f9b9ffd2c9757e47b40c8e1f4254f75a6c
    padding: 20px;
}


/* Header */
header{
    position: fixed;
    top: 20px;
    left: calc(20%+20px);
    right: 20px;
    width: calc(75%);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-radius: 12px;
    padding-right: 20px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.178);
}
.header_info{
    height: 80%;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.header_info h2{
    font-size: 1rem;
}
.header_info p{
    font-size: 1rem;
    color: #686868;
}
.header_dropdown{
    position: absolute;
    top: 85px;
    right: 20px;
    background-color: white;
    width: 140px;
    padding: 10px 0;
    border-radius: 7px;
    display: none;
    flex-direction: column;
}
.header_dropdown_active{
    display: flex;
    animation: headerDropDown .3s;
}
@keyframes headerDropDown {
    0%{
        top: 85px;
        display: none;
        opacity: 0;
    }
    50%{
        top: 70px;
        display: flex;
        opacity: 0.6;
    }
    100%{
        top: 75px;
        display: flex;
        opacity: 1;
    }
}
.MuiAvatar-img{
    cursor: pointer;
}
.header_dropdown_item{
    display: flex;
    padding: 5px;
    padding-left: 10px;
    color: #686868;
    transition: linear all .2s;
}
.header_dropdown_item:hover{
    background-color: #7267f034;
    color: #7367f0;
}
.header_dropdown_item p{
    margin-left: 5px;
}
.header_dropdown_icon{
    font-size: 10px;
}
/* End of Header */