.little-statistics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.circle-total{
    width: 240px;
    padding:15px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.big-statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total-part-circle-blue{
    font-size: 60px;
    color: #1E90FF;
}
.total-part-circle-yellow{
    font-size: 60px;
    color: rgb(219, 219, 22);
}
.price-total{
    font-size: 18px;
    font-weight: 700;
    margin-bottom:0;
}
.total-text{
    font-size: 14px;
    color: grey;
}
.total-end{
    margin-top: 10px;
}
.total-end-text-green span{
    color: rgb(17, 168, 17);
    font-weight: 600;
    margin-right: 10px;
    font-size: 14px;
}
.total-end-text-red span{
    color: rgb(201, 14, 14);
    font-weight: 600;
    margin-right: 10px;
    font-size: 14px;
}
.total-end-text-green,.total-end-text-red{
    font-size: 13px;
}
.barChart{
    width: 63%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.horizChart{
    height: auto;
    width: 33%;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 40px;
    height: 330px;
    border-radius: 10px;
}