.kl1{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.kl1_title{
    font-size: 1.2rem;
    font-weight: 700;
}
.kl1_subtitle{
    width: 100%;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
.kl1_content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.kl1_input{
    margin-bottom: 10px;
}
.kl1_formtitle{
    margin-top: 20px; 
    font-weight: 600;
    font-size: 19px;
    text-decoration: underline;
}
.kl1_product{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.kl1_product_title{
    font-size: 17px;
    font-weight: 600;
}
.kl1_calendar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.kl1_product_title .kl1_delete_button{
    margin-left: 10px;
}
.kl1_delete_button{
    margin-top: 5px;
    padding: 3px 5px;
    color: white;
    border: none;
    background-color: red;
    font-size: 22px;
    border-radius: 7px;
    transition: linear all .2s;
    cursor: pointer;
}
.kl1_delete_button:hover{
    transform: scale(1.2);
}
.kl1_add_button{
    margin-top: 15px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    width: 250px;
    border: 2px solid #7828c8;
    border-radius: 7px;
    background-color: white;
    color: #7828c8;
    transition: linear all .2s;
    cursor: pointer;
    margin-bottom: 20px;
}
.kl1_add_button:hover{
    background-color: #7828c8;
    color: white;
    transform: scale(1.1);
}
.kl1_radio{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.kl1_radio_checkbox{
    margin-left: 40px;
}
.kl1_jami{
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
}
.margin_button{
    margin-bottom: 10px;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.kl1_jami_main{
    font-size: 20px;
    font-weight: 700;
}
.kl1_products{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.kl1_products .kl1_product{
    padding: 15px;
    border: 2px solid #7828c8;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.kl1_product_footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.kl1_daromad_radio{
    display: flex;
    flex-direction: row;
}
.kl1_daromad_radio .kl1_daromad_radio_one{
    margin-right: 30px;
}

/* kl1 table */
.kl1_table{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid black;
}
.kl1_table div{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.kl1_table_double{
    display: flex;
    flex-direction: row;
}
.kl1_table_double p{
    flex-basis: 50%;
    height: 100%;
}
.kl1_table_double p:nth-child(2){
    border-left: 1px solid black;
}
.kl1_table_yellow-bg{
    background-color: rgb(255, 255, 157);
}
.kl1_table_red-bg{
    background-color: rgb(255, 185, 185);
    color: red;
}
.kl1_table_dark-bg{
    background-color: rgb(215, 215, 215);
}
.kl1_daromad_part,.kl1_mavsumiy_daromad{
    display: flex;
    flex-direction: column;
}
.kl1_table_noPadding{
    padding: 0 !important;
    text-align: center !important;
    display:flex;
    justify-content:center;
    align-items:center;
}
.kl1_table_noPadding p{
    padding: 20px;
}




.kl1_accepting{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.kl1_accepting p{
    flex-basis: 62%;
}
.kl1_accepting_radio{
    height: 80px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
.kl1_accept{
    height: 40px ;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding-left: 20px;
    font-weight: 600;
    color: white;
}
.kl1_accept:nth-child(1){
    background-color: rgb(4, 151, 4);
}
.kl1_accept:nth-child(2){
    background-color: rgb(226, 7, 7);
}





.close{
    display: none;
}
.open{
    display: flex;
}
