.kl1_content .ant-tabs-nav-list{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
  background-color: #7828c8;
  border-radius: 15px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 15px;
}
/* Track Scroll */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle Scroll */
::-webkit-scrollbar-thumb {
  background: #7828c8; 
  border-radius: 8px;
}

/* Handle on hover Scroll */
::-webkit-scrollbar-thumb:hover {
  background: #631daa; 
}

.kl1_content .ant-tabs-nav-wrap{
  width: 100%;
}
.kl1_content .ant-tabs-nav-operations{
  display: none;
}
.kl1_content .ant-tabs-tab .ant-tabs-tab-btn{
  border: 2px solid #7828c8;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: auto;
  padding: 10px 20px;
  transition: linear all .2s;
  cursor: pointer;
  font-weight: 500;
  color: white;
}
.kl1_content .ant-tabs-tab-active .ant-tabs-tab-btn{
  background-color: white;
  color: #7828c8;
  padding: 10px 20px;
}
