.kl1_content .ant-tabs-nav-list{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
  background-color: #7828c8;
  border-radius: 15px;
}

/* Scroll */
/* ::-webkit-scrollbar-track
{
	border: 5px solid rgb(237, 237, 237);
	background-color: #b2bec3;
}
::-webkit-scrollbar
{
	width: 15px;
	background-color: #dfe6e9;
}
::-webkit-scrollbar-thumb
{
	background-color: #7828c8;
	border-radius: 10px;
} */

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 25px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 7px solid transparent;
}

::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
  color: #7828c8;
}

.kl1_content .ant-tabs-nav-wrap{
  width: 100%;
}
.kl1_content .ant-tabs-nav-operations{
  display: none;
}
.kl1_content .ant-tabs-tab .ant-tabs-tab-btn{
  border: 2px solid #7828c8;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: auto;
  padding: 10px 20px;
  transition: linear all .2s;
  cursor: pointer;
  font-weight: 500;
  color: white;
}
.kl1_content .ant-tabs-tab-active .ant-tabs-tab-btn{
  background-color: white;
  color: #7828c8;
  padding: 10px 20px;
}
